.songs, .playlists, .search {
    display: none;
}
.container {
    background-color: #E8E0F4;
    padding-left: 0px;
    padding-right: 0px;
}

.active {
  display: block;
  background-color: #810082;
}
header{
  width: 100%;
  background-color: #F9F9F9;
}

header .glyphicon{
  font-size: 25px;
}


li{
  width: 33.3%;
  text-align: center;
}

nav a{
  display: block;
  text-align: center;
  text-decoration: none;
  color: #333333;
}

nav span{
  display: block;

}
.Playlists{
  padding-left: 2.5%;
  padding-right: 2.5%;

}

.title button{

  width: 100%;
  border-width: inherit;
  color: white;
  background-color: #936AC7;
  border-radius: 5px;
  margin-top: 2%;

}
.title span{
  font-size: 15px;
  color: white;
}

.h_line{
  width: 100%;
  height: 1px;
  background-color: #999999;
}
.row span{
  font-size: 25px;
  color:#808080;
  float: right;
  margin-right: 5%;
}
img{
  height: 35px;
  width: 35px;
  border: 1px solid;
  margin-right: 10%;
}
h4{
  color: #936AC7;
}
